# MongoDB connection string — local MongoDB instance
MONGODB_URL=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=certguard

# JWT / session settings
SECRET_KEY='71bda8a27eed4bdd9cb5595a723e49c234eba8aa5a5f492c9c4c66ffba826e4e'
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Server
HOST=0.0.0.0
PORT=8000
